@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    @apply font-raleWay scroll-smooth scroll-pt-[10vh];
  }
  body {
    @apply !overflow-x-hidden text-black;
  }
  a,
  button,
  span,
  i {
    transition: all 0.3s !important;
  }
  svg {
    display: inline-block;
  }
}
@layer components {
}
@layer utilities {
}
