@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    @apply font-sans scroll-smooth scroll-pt-[10vh];
  }
  body {
    @apply !overflow-x-hidden text-black;
  }
  a,
  button,
  span,
  i {
    transition: all 0.3s !important;
  }
  svg {
    display: inline-block;
  }
}
@layer components {
  /* nav amination  */
  @keyframes topToBottom {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-nav {
    animation: topToBottom 0.5s forwards;
  }

  /* burger menu animation  */
  .navToggle {
    padding: 0px 0px 4px 0px;
    -webkit-transform: all 0.4s linear;
    transform: all 0.4s linear;
    margin-left: 10px;
  }
  .navToggle .icon-bar {
    width: 35px;
    height: 3px;
    background-color: #8e8688;
    display: block;
    margin: 4px 0;
    position: relative;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .navToggle .icon-bar:nth-child(2) {
    width: 25px;
  }

  /* Target the 3rd child of .navToggle */
  .navToggle .icon-bar:nth-child(3) {
    width: 25px;
  }

  .navToggle.active .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(44deg);
    transform: rotate(55deg);
    top: 10px;
  }
  .navToggle.active .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  .navToggle.active .icon-bar:nth-of-type(3) {
    opacity: 0;
  }
  .navToggle.active .icon-bar {
    background-color: black;
  }

  .navToggle.active .icon-bar:nth-of-type(4) {
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg);
    top: -10px;
  }
  /* burger menu animation  */

  /* slider animation  */

  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideIn {
    animation: slideIn 0.5s forwards;
    transition: all 0.3s;
  }

  /* slider animation  */
  /* slider top border color animation start */
  @keyframes changeBorderColor {
    from {
      border-color: gray;
    }
    to {
      border-color: white;
    }
  }

  .border-animation {
    animation: changeBorderColor 0.5s ease-in-out;
  }
  @keyframes changeBorderColor {
    from {
      border-color: gray;
    }
    to {
      border-color: white;
    }
  }

  .animate-border-color {
    animation: changeBorderColor 0.5s;
  }
  /* slider top border color animation end */
}
@layer utilities {
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}